{% load static %}

<nav>
  <div class="container">
   <a href="{% url 'home:home'%}" class="logo-container">
      <img src={% static "assets/cu-logo.png" %} alt="" class="logo">
    </a>
    

    <div class="nav-list-container">
      <ul class="nav-list">
        <li><a href="{% url 'home:home' %}" id="home">Home</a></li>
        {% if authenticated %}
        <li class="dropdown-list">
          <a href= "#" id = "hyperlink">Students info</a>
          
          <ul class="dropdown-container">
            <li><a href="#" id="add_student">Add new student</a></li>
            <li><a href="#" id="dep_assignment">Department assignment page</a></li>
            <li><a href= "#" id = "all_students" >All students</a></li>
          </ul> 
          
        </li>
        {% endif %}
        <li><a href="{% url 'about:about' %}" id="about">About</a></li>
      </ul>
      
      {% if not authenticated %}
      <a href="{% url 'login:login' %}" class="login-button" id="login" name = "login"><button>
        Login
        </button>
      </a>
      {% else %}
      <a href="#" class="login-button" id="logout" name = "logout">
        <button>
        Logout
        </button>
      </a>
     
        
      {% endif %}
    </div>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>




<!-- NAVBAR Navigation using javascript instead of django -->
<script>

  
  document.addEventListener('DOMContentLoaded', function() {
    var logout = document.getElementById('logout');
  
      logout.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default behavior of the <a> tag
  
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url "home:home" %}'); // Replace 'my-view' with the actual URL name of your Django view
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
          if (xhr.status === 200) {
            // Handle the response from the Django view
            alert('Logged out successfully!');
            window.location.href = '{% url "home:home" %}'; // Redirect to the home page
          } else {
            // Handle any errors that occur during the AJAX request
            alert('An error occurred.');
          }
        };
        xhr.send('csrfmiddlewaretoken=' + encodeURIComponent('{{ csrf_token }}')); // Include the CSRF token for security
      });
    });
  
      


  let hyperlink = document.getElementById("hyperlink");
  hyperlink.addEventListener("click", (event)=> {  event.preventDefault();
  })

  let allStudentsLink = document.querySelector("#all_students")
  allStudentsLink.addEventListener('click',(event)=>{
    event.preventDefault();
    window.location.href = "/students"
  })

  let home = document.querySelector("#home")
  home.addEventListener('click',(event)=>{
    event.preventDefault();
    window.location.href = "/";
  })

  let add_student = document.querySelector("#add_student")
  add_student.addEventListener('click',(event)=>{
    event.preventDefault();
    window.location.href = "/students/add-student";
  })

  let dep_assignment = document.querySelector("#dep_assignment")
  dep_assignment.addEventListener('click',(event)=>{
    event.preventDefault();
    window.location.href = "/students/department-assignment";
  })


  let about = document.querySelector("#about")
  about.addEventListener('click',(event)=>{
    event.preventDefault();
    window.location.href = "/about";
  })

  





</script>
