{% extends 'main.html' %}


{% load static %}

{% block style %}
  <link rel="stylesheet" href={% static "styles/about.css" %}>
{% endblock style %}

{% block title %}About{% endblock %} 







{% block content %}


<section>
  <h1 class="titles">Team Members</h1>


  <div class="container-card">
    <div class="card">
      <img src= {% static './assets/fady.jpg' %} class="card__image">
      <p class="card__name">Fady Kamal</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210282
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="https://github.com/Fady-K/"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/fady-kamal-448604230/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>
    <div class="card">
      <img src= {% static './assets/mohamed.jpeg' %} class="card__image">
      <p class="card__name">Mohamed Hesham</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210543
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="https://github.com/mohesham88"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/mohamed-hesham-6848781aa/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>

    <div class="card">
      <img src= {% static "./assets/adham.jpeg" %} alt="adham-image" class="card__image">
      <p class="card__name">Adham Mahmoud</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210055
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="https://github.com/AdhamMahmoud1"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/adham-mahmoud-a7a605232/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100017504312290"><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
    <div class="card">
      <img src={% static "./assets/mazen.jpeg" %} alt="mazen-el-ganainy-photo" class="card__image">
      <p class="card__name">Mazen Mahmoud</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210000
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="https://github.com/mazenmahmoudadly"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/mazen-el-ganainy/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>

    <div class="card">
      <img src= {% static "./assets/omar.png" %} class="card__image">
      <p class="card__name">Abdel Rahman Amer</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210000
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100013818225942"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>

    <div class="card">
      <img src= {% static './assets/george.jpg' %} class="card__image">
      <p class="card__name">George Ayman</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210104
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="https://github.com/George-gamal-208"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/george.ayman.90"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>
  </div>

  </div>



</section>


<!-- Footer -->
<footer>
    <h4 id="rights">Copyright © 2023 Faculty of Computers and Artificial Intelligence</h4>
</footer>

{% endblock content %}