{% extends 'main.html' %}


{% load static %}

{% block style %}
  <link rel="stylesheet" href={% static "styles/about.css" %}>
{% endblock style %}

{% block title %}About{% endblock %} 







{% block content %}


<section>
  <h1 class="titles">Team Members</h1>


  <div class="container-card">
    <div class="card">
      <img src="https://scontent.fcai21-3.fna.fbcdn.net/v/t1.6435-9/83953964_650205195732628_3288371203999268864_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=ieAWSEkSDbMAX9tZkkP&_nc_ht=scontent.fcai21-3.fna&oh=00_AfC1IfzwobFuALypY6RWs12Yv98qxVwya1Mqk09IY2p8Fw&oe=649600B5" alt="fady-kamal-photo" class="card__image">
      <p class="card__name">Fady Kamal</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210282
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="https://github.com/Fady-K/"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/fady-kamal-448604230/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>
    <div class="card">
      <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
      <p class="card__name">Mohamed Hesham</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210282
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>

    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4E03AQFBXxE6d4cCdA/profile-displayphoto-shrink_800_800/0/1647123799660?e=1690416000&v=beta&t=Dfz9RgbQHrwOWAhF2PRNHFJXQb_M6HrsRBYxjmW-TW8" alt="adham-image" class="card__image">
      <p class="card__name">Adham Mahmoud</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210055
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="https://github.com/AdhamMahmoud1"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/adham-mahmoud-a7a605232/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100017504312290"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>

    <div class="card">
      <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
      <p class="card__name">Bianca Serrano</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210282
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>

    <div class="card">
      <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
      <p class="card__name">Bianca Serrano</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210282
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>
  </div>
</section>


<section>
  <h1 class="titles">Team Members</h1>

  <div class="container-card">
    <div class="card">
      <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
      <p class="card__name">Bianca Serrano</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210282
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>
    <div class="card">
      <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
      <p class="card__name">Bianca Serrano</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210282
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>

    <div class="card">
      <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
      <p class="card__name">Bianca Serrano</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210282
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>

    <div class="card">
      <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
      <p class="card__name">Bianca Serrano</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210282
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>

    <div class="card">
      <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
      <p class="card__name">Bianca Serrano</p>
      <div class="grid-container">

        <div class="grid-child-id">
          Id: 20210282
        </div>

      </div>

      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

      </ul>
    </div>
  </div>
</section>


<!-- Footer -->
<footer>
    <h4 id="rights">Copyright © 2023 Faculty of Computers and Artificial Intelligence</h4>
</footer>

{% endblock content %}